.card-body-profile {
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 1px;
    padding: 1rem;
    width: 26%;
    margin: 20px;
    
    }

.profileImg{
    width: 100px;
    height: 250px;
    margin: 10px;
    
    }